<!DOCTYPE html>
<html lang="en">
<!--Title and header-->
<head>
    <title>Add lessons - Individual Work</title>
    <style>
    </style>
    <link rel="stylesheet" href="Individual_Work.css">
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
</head>
<!--Lesson 1  -->
<div id="app">
    <div id="rcorners2">
    <main>
        <p v-text="subject.subjects"></p>
        <p v-text="subject.location"></p>
        <p>Price: £{{subject.price}}</p>
        <p><b>Spaces:</b><span v-if="subject.spaces - cartItemCount > 0">Only
            {{subject.spaces - cartItemCount}} spaces left!</span>
          <span v-else-if="subject.spaces - cartItemCount === 0">No more spaces!</span>
        </p>
        <button type="button" v-on:click="addToCart" v-bind:disabled="!canAddClass" class="btn btn-dark btn-sm px-4 mt-3">
            Add to cart
          </button>
        <figure>
            <img src="mathematics.svg" alt="Math logo" width="40" height="60">
        </figure>
    </main>
    </div>
</div>
<!--Lesson 2-->
<br>
<div id="app2">
    <div id="rcorners2">
    <main>
        <p v-text="subject2.subjects"></p>
        <p v-text="subject2.location"></p>
        <p>Price: £{{subject2.price}}</p>
        <p><b>Spaces:</b><span v-if="subject2.spaces - cartItemCount > 0">Only
            {{subject2.spaces - cartItemCount}} spaces left!</span>
          <span v-else-if="subject2.spaces - cartItemCount === 0">All out!</span>
        </p>
        <button type="button" v-on:click="addToCart" v-bind:disabled="!canAddClass" class="btn btn-dark btn-sm px-4 mt-3">
            Add to cart
          </button>
        <figure>
            <img src="mathematics.svg" alt="Math logo" width="40" height="60">
        </figure>
    </main>
    </div>
</div>

<!--Lesson 3 -->
<br>
<div id="app3">
    <div id="rcorners2">
    <main>
        <p v-text="subject3.subjects"></p>
        <p v-text="subject3.location"></p>
        <p>Price: £{{subject3.price}}</p>
        <p><b>Spaces:</b><span v-if="subject3.spaces - cartItemCount > 0">Only
            {{subject3.spaces - cartItemCount}} spaces left!</span>
          <span v-else-if="subject3.spaces - cartItemCount === 0">All out!</span>
        </p>
        <button type="button" v-on:click="addToCart" v-bind:disabled="!canAddClass" class="btn btn-dark btn-sm px-4 mt-3">
            Add to cart
          </button>
        <figure>
            <img src="pen.png" alt="Pen logo" width="70" height="50">
        </figure>
    </main>
    </div>
</div>

<!--Lesson 4 -->
<br>
<div id="app4">
    <div id="rcorners2">
    <main>
        <p v-text="subject4.subjects"></p>
        <p v-text="subject4.location"></p>
        <p>Price: £{{subject4.price}}</p>
        <p><b>Spaces:</b><span v-if="subject4.spaces - cartItemCount > 0">Only
            {{subject4.spaces - cartItemCount}} spaces left!</span>
          <span v-else-if="subject4.spaces - cartItemCount === 0">All out!</span>
        </p>
        <button type="button" v-on:click="addToCart" v-bind:disabled="!canAddClass" class="btn btn-dark btn-sm px-4 mt-3">
            Add to cart
          </button>
        <figure>
            <img src="pen.png" alt="Pen logo" width="70" height="50">
        </figure>
    </main>
    </div>
</div>

<!--Lesson 5 -->
<br>
<div id="app5">
    <div id="rcorners2">
    <main>
        <p v-text="subject5.subjects"></p>
        <p v-text="subject5.location"></p>
        <p>Price: £{{subject5.price}}</p>
        <p><b>Spaces:</b><span v-if="subject5.spaces - cartItemCount > 0">Only
            {{subject5.spaces - cartItemCount}} spaces left!</span>
          <span v-else-if="subject5.spaces - cartItemCount === 0">All out!</span>
        </p>
        <button type="button" v-on:click="addToCart" v-bind:disabled="!canAddClass" class="btn btn-dark btn-sm px-4 mt-3">
            Add to cart
          </button>
        <figure>
            <img src="music.png" alt="Pen logo" width="70" height="50">
        </figure>
    </main>
    </div>
</div>
    <!--Lesons-->
    <script src= lessons.js type="text/javascript">
    </script>

<!--Lesson 6 -->
<br>
<div id="app6">
    <div id="rcorners2">
    <main>
        <p v-text="subject6.subjects"></p>
        <p v-text="subject6.location"></p>
        <p>Price: £{{subject6.price}}</p>
        <p><b>Spaces:</b><span v-if="subject6.spaces - cartItemCount > 0">Only
            {{subject6.spaces - cartItemCount}} spaces left!</span>
          <span v-else-if="subject6.spaces - cartItemCount === 0">All out!</span>
        </p>
        <button type="button" v-on:click="addToCart" v-bind:disabled="!canAddClass" class="btn btn-dark btn-sm px-4 mt-3">
            Add to cart
          </button>
        <figure>
            <img src="music.png" alt="Pen logo" width="70" height="50">
        </figure>
    </main>
    </div>
</div>
    <!--Lesons-->
    <script src= lessons.js type="text/javascript">
    </script>

</body>
</html>

